/* -------------------------------------------------------------------------------- */

/*	7.	Content
/* -------------------------------------------------------------------------------- */
.posts .post {
	width: 17%;
	display: inline-block;
	vertical-align: top;
}

.posts .post + .post {
	padding-top: 30px;
	border-top: 4px solid #eee;
	margin-top: 20px;
}

.posts .post:nth-child(2) {
	padding-top: 0;
	border-top: none;
	margin-top: 0;
}

.posts .post:nth-child(2n) {
	margin-left: 5%;
}

/* Post Image ----------------------------------------- */
.post-image {
	/*margin-bottom: 25px;*/
	/*position: relative;*/
	height: 150px;
	width: 100%;	/*display: inline-block;*/
	border: 1px solid black;
	overflow: hidden;
}

.post:hover {
	border-bottom: 2px solid #0093C2 !important;
}

.img-upload {
	width: auto;
	height: 100%;
}

.fit-image {
	width: auto;
	object-fit: cover;
	height: 100%;
}

.todo-description img{
	width: 100%;
	height: 100%;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	object-fit: cover;
}

.post-image img {
	width: 100%;
	height: 100%;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	object-fit: cover;
}

.post-image img:hover {
	transform: scale(1.3);
	transform-origin: 50% 50%;
	transition: transform .4s;
}

/*.posts .post-image img {
width: 100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
object-fit: cover;
}*/
.post-image .sticky-tag {
	display: none;
}

.sticky .sticky-tag {
	display: block;
	width: 22px;
	height: 26px;
	background: #0093C2;
	color: #fff;
	position: absolute;
	right: 15px;
	top: 0;
}

.sticky .sticky-tag:after {
	content: "";
	display: block;
	position: absolute;
	border: 11px solid #0093C2;
	border-top-width: 0;
	border-bottom: 5px solid transparent;
	bottom: -5px;
	left: 0;
	-webkit-transform: rotate(0.01deg);
}

.sticky .sticky-tag .fa {
	font-size: 12px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 8px;
	left: 0;
	right: 0;
}

/* Post Header ----------------------------------------- */
.post-title {
	font-family: 'Merriweather', Georgia, serif;
	font-size: 1.1em;
	line-height: 135%;
	font-weight: 900;
	letter-spacing: -1px;
	-ms-word-break: break-word;
	word-break: break-word;
}

.post-title a {
	display: block;
	color: #111;
}

.post-title a:hover {
	color: #111;
	text-decoration: underline;
}

.post-meta {
	margin-top: 3px;
	font-size: 0.8em;
	line-height: 120%;
	font-weight: 600;
	color: #888;
}

.post-meta a {
	color: #888;
}

.post-meta a:hover {
	color: #888;
	text-decoration: underline;
}

/* -------------------------------------------------------------------------------- */

/*	8.	Post Formats
/* -------------------------------------------------------------------------------- */

/* Format Gallery ------------------------------------- */


.flexslider {
	position: relative;
	overflow: hidden;
}

.single-post .flexslider {
	margin-bottom: 40px;
}

.flexslider .slides li {
	display: none;
	position: relative;
}

.flexslider .slides li:first-child {
	display: block;
}

.flexslider img {
	display: block;
}

/* Slider Navigation */
.flex-direction-nav {
	display: none;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin-top: -13px;
}

.single .flex-direction-nav {
	display: block;
}

.flex-direction-nav a {
	display: block;
	color: #fff;
	position: absolute;
}

.flex-direction-nav a:before {
	font: 32px/1 'FontAwesome';
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.flex-direction-nav .flex-prev {
	left: 2.5%;
}

.flex-direction-nav .flex-prev:before {
	content: "\f190";
}

.flex-direction-nav .flex-next {
	right: 2.5%;
}

.flex-direction-nav .flex-next:before {
	content: "\f18e";
}

.flex-direction-nav a:hover {
	color: #fff;
}

/* Single Post */
.single-post .flex-direction-nav {
	margin-top: -17px;
}

.single-post .flex-direction-nav a:before {
	font-size: 40px;
}

/* -------------------------------------------------------------------------------- */

/*	9.	Single Post
/* -------------------------------------------------------------------------------- */

/* Post Header ----------------------------------------- */


.single-post .post-header {
	margin-bottom: 40px;
}

.single-post .post-title {
	font-size: 2.5em;
	line-height: 135%;
	font-weight: 900;
}

.single-post .post-meta {
	margin-top: 10px;
	border-top: 1px solid #ddd;
	padding-top: 16px;
	font-size: 1rem;
	color: #999;
}

.single-post .post-comments {
	float: right;
}

.single-post .post-comments .fa {
	position: relative;
	top: -1px;
	margin-right: 6px;
}

.single-post .post-meta a {
	color: #0093C2;
}

.single-post .post-meta a:hover {
	text-decoration: underline;
}

/* Post Image ----------------------------------------- */
.single-post .post-image {
	display: block;
	clear: both;
	margin-bottom: 40px;
}

.single-post .post-image-caption {
	padding: 17px 0 17px 24px;
	border-bottom: 1px solid #ddd;
	font-size: 0.9em;
	line-height: 120%;
	font-weight: 700;
	color: #111;
	position: relative;
}

.single-post .post-image-caption .fa {
	color: #0093C2;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 0;
}

.single-post .post-image-caption a:hover {
	text-decoration: underline;
}

/* Post Content ------------------------------------------ */
.single-post .post-inner {
	padding-left: 200px;
	position: relative;
	z-index: 5;
}

/* Post Links -------------------------------------------- */

/*.post-content p.page-links {
display: inline-block;
margin-bottom: 15px;
background: #eee;
font-family: 'Lato', Helvetica, sans-serif;
font-size: 0.85rem;
line-height: 1;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 1px;
color: #666;
}

.page-links a, .page-links > span {
display: inline-block;
padding: 10px;
}

.page-links a:first-child, .page-links span:first-child {
margin-left: 0;
}

.post-content .page-links a:hover {
background: #0093C2;
color: #fff;
text-decoration: none;
}

.page-links > span:nth-of-type(2) {
background: #ccc;
color: #111;
}*/

/* Post Tags --------------------------------------------- */
.post-catertags {
	margin-top: 35px;
}

.post-tags, .tagcloud, .post-categories {
	line-height: 1;
}

.post-tags a, .tagcloud a, .post-categories a {
	display: inline-block;
	padding: 5px 6px 6px 3px;
	margin: 0 3px 8px 11px;
	background: #ddd;
	font-size: 0.7rem !important;
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #444;
	position: relative;
}

.post-categories a {
	background: #0093C2;
	color: #fff;
	padding-left: 6px;
}

.post-categories a:hover {
	color: #ddd;
}

.tagcloud a {
	background: #ccc;
}

.post-tags a {
	margin-right: 8px;
}

.footer .tagcloud a {
	background: #eee;
}

.footer .tagcloud a:before {
	border-right-color: #eee;
}

.post-tags a:before, .tagcloud a:before {
	content: "";
	display: block;
	border: 11px solid transparent;
	border-left-width: 0;
	border-right-color: #ddd;
	position: absolute;
	top: 0;
	left: -11px;
}

.tagcloud a:before {
	border-right-color: #ccc;
}

/* Post Author ------------------------------------------- */
.post-author {
	min-height: 130px;
	padding: 30px 25px 30px 120px;
	margin-top: 40px;
	background: #26272B;
	border-radius: 6px;
	position: relative;
}

.post-author:before {
	content: "";
	display: block;
	border: 6px solid transparent;
	border-bottom-color: #25262B;
	position: absolute;
	top: -12px;
	left: 53px;
}

.post-author > .avatar {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 20px;
}

.post-author img {
	display: block;
	width: 80px;
	height: auto;
	border-radius: 99px;
	padding: 5px;
	background: #444;
}

.post-author .title {
	font-size: 1.15rem;
	font-weight: 700;
	color: #fff;
}

.post-author .title a {
	color: #fff;
}

.post-author .title a:hover {
	text-decoration: underline;
}

.post-author p {
	margin-top: 6px;
	font-size: 0.95em;
	line-height: 145%;
	color: #aaa;
}

.post-author .social-menu {
	float: none;
}

.post-author .social-menu li {
	list-style: none;
}

.social-menu a.post-author-archive::before {
	content: '\f187';
}

.social-menu a.post-author-website::before {
	content: '\f015';
}

/* Related Posts ----------------------------------------- */
.post-inner .related-posts {
	display: none;
}

.related-posts {
	width: 160px;
	float: left;
	position: relative;
	z-index: 10;
}

.related-posts-title {
	padding-top: 6px;
	border-top: 2px solid #222;
	margin-bottom: 10px;
	font-size: 0.675em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #222;
}

.related-post {
	display: block;
}

.related-post + .related-post {
	margin-top: 25px;
}

.related-post img {
	display: block;
}

.related-post .category {
	margin: 10px 0 0;
	font-size: 0.675em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #0093C2;
}

.related-post .title {
	margin: 4px 0 0;
	font-size: 0.85em;
	line-height: 130%;
	font-weight: 700;
	color: #111;
}

.related-post:hover .title {
	text-decoration: underline;
}

/* -------------------------------------------------------------------------------- */

/*	10.	Post Content
/* -------------------------------------------------------------------------------- */


.post-content {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

.post-content a {
	border-bottom: 1px solid #ddd;
}

.post-content a:hover {
	border-bottom-color: #0093C2;
}

.post-content p, .post-content blockquote, .post-content ul, .post-content ol, .post-content address, .post-content dl, .post-content pre {
	line-height: 170%;
	margin-bottom: 1.5em;
}

.post-content *:last-child {
	margin-bottom: 0;
}

.post-content p.intro {
	padding-bottom: 20px;
	border-bottom: 3px double #ddd;
	margin-bottom: 20px;
	font-size: 1.2em;
	line-height: 155%;
	font-weight: 700;
	color: #0093C2;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
	margin: 50px 0 25px;
	line-height: 120%;
	font-weight: 700;
}

.post-content h1, .post-content h2, .post-content h3 {
	font-family: 'Merriweather', Georgia, serif;
	font-weight: 900;
}

.post-content h1 {
	font-size: 2.5em;
}

.post-content h2 {
	font-size: 2em;
}

.post-content h3 {
	font-size: 1.6em;
}

.post-content h4 {
	font-size: 1.4em;
}

.post-content h5 {
	font-size: 1.2em;
}

.post-content h6 {
	font-size: 0.8rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post-content h1+h1, .post-content h1+h2, .post-content h1+h3, .post-content h1+h4, .post-content h1+h5, .post-content h1+h6, .post-content h2+h1, .post-content h2+h2, .post-content h2+h3, .post-content h2+h4, .post-content h2+h5, .post-content h2+h6, .post-content h3+h1, .post-content h3+h2, .post-content h3+h3, .post-content h3+h4, .post-content h3+h5, .post-content h3+h6, .post-content h4+h1, .post-content h4+h2, .post-content h4+h3, .post-content h4+h4, .post-content h4+h5, .post-content h4+h6, .post-content h5+h1, .post-content h5+h2, .post-content h5+h3, .post-content h5+h4, .post-content h5+h5, .post-content h5+h6, .post-content h6+h1, .post-content h6+h2, .post-content h6+h3, .post-content h6+h4, .post-content h6+h5, .post-content h6+h6 {
	margin-top: 25px;
}

.post-content blockquote {
	padding: 30px 30px 30px 90px;
	background: #fafafa;
	border: 1px solid #eee;
	position: relative;
	font-style: italic;
}

.post-content blockquote p {
	font-style: italic;
}

.post-content blockquote:after {
	content: '”';
	width: 90px;
	font-family: 'Georgia', serif;
	font-size: 72px;
	line-height: 72px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	color: #0093C2;
	position: absolute;
	top: 31px;
	left: 0px;
}

.post-content blockquote cite {
	display: block;
	margin-top: 1.1em;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 0.75em;
	line-height: 120%;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post-content blockquote cite:before {
	content: "— ";
}

.post-content hr {
	width: 128px;
	max-width: 60%;
	height: 2px;
	background: #DDD;
	margin: 50px auto;
	border: 0;
}

em, q {
	font-style: italic;
}

.post-content strong em, .post-content em strong {
	font-weight: bold;
	font-style: italic;
}

.post-content big {
	font-size: 1.25em;
}

/*abbr, acronym {
cursor: help;
}

code, kbd, pre {
font-size: 0.85em;
background: #EEE;
font-family: Menlo, Monaco, monospace;
}*/
.post-content .highlight {
	background: #fcf8a5;
	width: auto;
	display: inline;
	padding: 2px 3px;
}

.post-content kbd, .post-content code {
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.post-content dl {
	line-height: 160%;
}

.post-content dl dt {
	font-weight: bold;
}

.post-content ul, .post-content ol {
	margin-left: 1.5em;
}

.post-content ul {
	list-style: disc;
}

.post-content ul ul {
	list-style: circle;
}

.post-content ul ul ul {
	list-style: square;
}

.post-content ol {
	list-style: decimal;
}

.post-content ol ol {
	list-style: lower-alpha;
}

.post-content ol ol ol {
	list-style: lower-roman;
}

.post-content ul ul, .post-content ul ol, .post-content ol ul, .post-content ol ol {
	margin-bottom: 0;
}

.post-content li {
	margin-bottom: 0.5em;
	line-height: 170%;
}

.post-content ol > li:last-child, .post-content ul > li:last-child {
	margin-bottom: 0;
}

.post-content ol > li:first-child, .post-content ul > li:first-child {
	margin-top: 0.5em;
}

.post-content address {
	padding: 3% 3.5%;
	background: #F1F1F1;
}

.post-content pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	line-height: 140%;
	padding: 2% 2.5%;
	background: #eee;
	border: 1px solid #ddd;
}

/* Post Media --------------------------------------- */
.post-content .tiled-gallery {
	clear: none !important;
}

/* Makes Jetpack Tiled Galleries play nice with the related posts field */
.post-content .wp-caption {
	max-width: 100%;
}

.post-content .wp-caption, .post-content .wp-caption > a, .post-content .wp-caption img {
	display: block;
}

.post-content div.aligncenter, .post-content div.alignnone {
	margin-bottom: 1.6em;
}

.post-content .alignleft, .post-content .alignright {
	margin-bottom: 1.2em;
	max-width: 50%;
}

.post-content .wp-caption .alignleft, .post-content .wp-caption .alignright {
	margin-bottom: 0;
}

.post-content .alignleft {
	float: left;
	margin-right: 30px;
}

.post-content .alignright {
	float: right;
	margin-left: 30px;
}

.post-content .aligncenter, .post-content .aligncenter img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.post-content .wp-caption-text, .post-content .gallery-caption {
	margin: 12px auto 0;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 0.9rem;
	line-height: 130%;
	font-weight: 700;
	text-align: center;
	color: #444;
}

.post-content .gallery-caption {
	font-size: 16px;
	line-height: 24px;
}

/* Tables --------------------------------------- */
.post-content table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 0.9em;
	width: 100%;
	margin-bottom: 1.1em;
}

.post-content th, .post-content td {
	padding: 2%;
	margin: 0;
	overflow: visible;
	line-height: 120%;
	border-bottom: 1px solid #DDD;
}

.post-content th {
	padding-top: 0;
}

.post-content caption {
	color: #111;
	text-align: center;
	padding: 2%;
}

.post-content thead {
	vertical-align: bottom;
	white-space: nowrap;
}

.post-content th {
	font-weight: bold;
	color: #111;
}

.post-content table tbody > tr:nth-child(odd) > td {
	background: #f9f9f9;
}

/* Forms --------------------------------------- */
.post-content fieldset {
	padding: 25px;
	border: 2px solid #ddd;
	margin-bottom: 1em;
}

.post-content fieldset legend {
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 0.8rem;
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 12px;
	background: #0093C2;
	color: #fff;
}

.post-content label {
	font-size: 1rem;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 700;
}

.post-content input, .post-content textarea {
	font-family: 'Lato', Helvetica, sans-serif;
}

.post-content input[type="text"], .post-content input[type="tel"], .post-content input[type="url"], .post-content input[type="email"], .post-content input[type="password"], .post-content textarea {
	width: 100%;
	padding: 20px;
	border: 1px solid #ddd;
	font-size: 0.9em;
	color: #111;
	background: #fafafa;
	border-radius: 3px;
	-webkit-appearance: none;
}

.post-content input[type="file"] {
	padding: 10px;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.post-content textarea {
	height: 180px;
	line-height: 140%;
}

.post-content input[type="text"]:focus, .post-content input[type="tel"]:focus, .post-content input[type="url"]:focus, .post-content input[type="email"]:focus, .post-content input[type="password"]:focus, .post-content textarea:focus {
	outline: none;
}

.post-content input[type="submit"], .post-content input[type="reset"], .post-content input[type="button"] {
	padding: 16px 20px;
	margin: 0;
	border: none;
	border-radius: 2px;
	background: #0093C2;
	font-size: 0.85rem;
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
}

.post-content input[type="submit"] + input[type="reset"], .post-content input[type="submit"] + input[type="button"], .post-content input[type="reset"] + input[type="submit"], .post-content input[type="reset"] + input[type="button"], .post-content input[type="button"] + input[type="reset"], .post-content input[type="submit"] + input[type="submit"] {
	margin-left: 5px;
}

.post-content input[type="submit"]:hover, .post-content input[type="reset"]:hover, .post-content input[type="button"]:hover {
	cursor: pointer;
	background: #0093C2;
	color: #fff;
}

.post-content input[type="submit"]:focus, .post-content input[type="submit"]:active {
	outline: none;
}

.border-1 {
	border: 1 !important;
}

.border-2 {
	border: 2 !important;
}

.border-3 {
	border: 3 !important;
}

.border-4 {
	border: 4 !important;
}

.border-5 {
	border: 5 !important;
}

.border-bottom-1 {
	border-bottom: 1px solid #dee2e6 !important;
}

.border-bottom-2 {
	border-bottom: 2px solid #dee2e6 !important;
}

.border-bottom-3 {
	border-bottom: 3px solid #dee2e6 !important;
}

.border-bottom-4 {
	border-bottom: 4px solid #dee2e6 !important;
}

.related-posts-title {
	border-top: 2px solid #222;
	font-size: 0.675em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #222;
}

.post-title a {
	font-family: 'Merriweather', Georgia, serif;
	font-size: 1.1em;
	line-height: 135%;
	font-weight: 900;
	letter-spacing: -1px;
	-ms-word-break: break-word;
	word-break: break-word;
}

.blog-posts img {
	width: 100%;
}

/* Images */
.post-compose-style .separator img, .post-compose-style .tr-caption-container img {
	max-width: 100%;
}

.post-compose-style .tr-caption-container .tr-caption {
	padding: .5rem 0;
	font-size: 90%;
	color: #868e96;
}

.wp-block-image {
	align-items: center;
	margin: 0 auto;
}

.wp-block-image img {
	max-width: 100% !important;
	margin: 0 auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 0px auto 0px;
	width: 100%;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 0px;
	position: relative;
	left: 0;
	margin-left: -40px;
}

/**
 * Lineas / Detalles
 -----------------------*/
/*.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 70px;
	top: 0;
}*/

/*.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}*/

.reply-list:before, .reply-list:after {
	display: none;
}

/*.reply-list li:before {
	content: '';
	width: 50px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -18px;
}*/

.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}

/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	left: 0px;
	border: 1px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}

/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 100%;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0, 0, 0, 0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 100%;
}

.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
	color: #03658c;
}

.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
